doctype html
// Page 3: read the consent - then go to main task (expimg.html) or (expqlty.html)
meta(charset='utf-8')
head
  title Explainable Machine Learning (XAI)
  meta(http-equiv='content-type' content='text/html;charset=utf-8')
  link(rel='stylesheet', href='/style/style.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='https://d3js.org/d3.v4.min.js')
  script(src='/js/img_adrs.js')
// <div id="nextbutton-1" > <button onclick="nextImage()">Next Image</button> </div>
button#nextbutton-1(onclick='nextImage()') Next Image
button#backbutton-1(onclick='lastImage()') Previous Image
// <div id="exit_button" > <button onclick="WriteFile()">End study</button> </div>
br
br
// <div id="start" > <button onclick="start_over()">Start over</button> </div>
#chartDiv
  table
    tr
      #panel(style='padding-top: 2%')
    tr
      button#clear1 Clear Selections
      svg#img_box.img_box
        image#img_exp.img_exp(xlink:href='')
    tr
      #palette(style='margin-top: 0%')
        //
          <label>
          <input type="color" style="margin-left: 5%" onChange="changeColor(this)"> Palette
          </label>
        //
          <label style="margin: 1%">
          <input type="checkbox" autocomplete="off" id="fillarea" name="fillarea">Fill
          </label>
        // <button id='undo' style="">Undo</button>
        button#clear2 Clear Selections
        // <button  onclick="saveIt()"  style="margin: 2%;">Download</button>
// <div id="nextbutton-2" > <button onclick="nextImage()">Next Image</button> </div>
button#nextbutton-2(onclick='nextImage()') Next Image
button#backbutton-2(onclick='lastImage()') Previous Image
// <div id="exit_button" > <button onclick="WriteFile()">End study</button> </div>
script#maincode(src='/js/image.js')